:root{
    --navWidth: 6vw;
    --navWidthHover: 15vw;
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    min-height: 90vh;
    /*background:rgb(228, 224, 224);*/
   
}
.navSec{
    position: fixed;
    height:100%;
    width: var(--navWidth);
    background:rgb(102, 0, 102);
    transition: 0.5s;
    overflow: hidden;
}
.navSec li:hover{
   background:rgb(253, 8, 110);
}
.navSec ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height:auto; 
}
.navSec ul li{
    position: relative;
    list-style:none;
    width: 100%;
    height: 100px;
}
.navSec ul li a{
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    text-decoration: none;
    height: 100px;
}
.navSec ul li a {
    position: relative;
    display:block;
    min-width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    white-space: nowrap;
}

#content{
    width: 94vw;
    position: absolute;
    right: 0;
    background: #d1f3e7;
    height: 100%;
    overflow: scroll;
}
/*DYNAMIC CONTENT ZONE */

/*HOME MENU*/
.main-dashboard{

   display: grid;
   grid-template-rows: 150px;
   grid-template-columns:300px 300px 300px 300px;
   grid-gap: 8px;
   grid-auto-flow: column;
   padding: 1.5%;
   height: 30%;
   
  
}

.main-dashboard > div {
    background-color: white;
    color: black;
    font-size: 4vw;
    padding: 4px;
    margin: 1%;
    border-radius: 25px;
    border: 5px solid rgb(102, 0, 102);
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.main-dashboard-graphs{
    
    position: absolute;
    right: 0;
    bottom:0;
    overflow:auto;
}
canvas{

    
    width: 600px !important;
    height:350px!important;
    float: right;
}
.main-dashboard-table{
     position: absolute;
     background: green;
     bottom:0px;
     right: 5%;
     width: 50%;
} 

/*
   HOW TO FIX THE TABLE'S BOTTOM DISTANCE WHEN GROWING UP???
*/
table.blueTable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 2px solid #000000;
    background-color: #5A005A;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 8px;
  }
  table.blueTable tbody td {
    font-size: 15px;
    color: #FFFFFF;
  }
  table.blueTable tr:nth-child(even) {
    background: #A302FF;
  }
  table.blueTable thead {
    background: #000000;
    background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}

/*HOME MENU*/
.main-banner{
    background:rgb(102, 0, 102) ;
    color: white;
    text-align:center;
    height: 8%;
    font-size: 40px;
}
h3{
    font-size: 30px;
    color: black;
    height: 8%;
}
.new-date{
    width:50%;
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: bounce 1.5s infinite;
}
select{
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("./icons/huella.ico") 96% / 15% no-repeat #ebebeb;
    border: none;
	border-radius: 10px;
}
.global:hover {
    border-bottom: 5px solid rgb(102, 0, 102);
    height: 30px;
    width: 300px;
    transition: ease 0.5s;
}
.description-text{
    background-color: #ebebeb;
    overflow: hidden;
    height: 6rem;
    width: 150px ;
    border: none;
	border-radius: 10px;
}
.description-text:hover {
    border-bottom: 5px solid rgb(102, 0, 102);
    height: 8em;
    width: 300px;
    transition: ease 0.5s;
}
.form-element{
    margin: 2%;
    padding: 1%;
}
.btn{
    background: rgb(102, 0, 102);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: none;
	border-radius: 10px;
	color: white;
	padding: 10px 20px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	cursor: pointer;
}

.btn:hover{
    background: rgb(151, 0, 151) ;
    transition: ease 0.5s;
}
